name: Most used
on:
  schedule:
    - cron: "0 0 * * *"  # daily at 00:00 UTC
  workflow_dispatch:
  push:
    branches: ["master", "main"]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: Ker102
          filename: metrics.plugin.languages.svg
          base: ""
          plugin_languages: yes
          plugin_languages_limit: 4
          config_timezone: UTC
